.login-form {
    min-height: 60vh;
    padding-top: 10rem;
}

/* .content {
    background-color: #609966;
} */

.navbar {
    background-color: #3f3f3f;
    padding-top: 20px;
}

.main-body {
    min-height: 100vh;
    background-color: #373737;
}